html {
  height: 100%;
}

body {
  font-family: "Roboto Mono";
  background-image: linear-gradient(to top, #193465 0%, #193465 1%, #30589e 100%);
  background-attachment: fixed;
  color: white;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  body {
    padding: 50px 50px;
  }
}

@media only screen and (min-width: 768px) {
  body {
    padding: 50px 100px;
  }
}

@media only screen and (min-width: 992px) {
  body {
    padding: 50px 175px;
  }
}


#heading {
  text-align: center;
  width: 100%;
  font-size: 20rem;
  display: inline-block;
  font-family: "Nunito";
  letter-spacing: 1rem;
  text-transform: uppercase;
  line-height: 90%;

  background: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  color: #fee140;
}

h3 {
  font-size: 1.25rem;
  font-weight: 300;
  color: #e57b98;
}

#line {
  position: relative;
  border-bottom: 30px solid transparent;
  border-radius: 15px;
  background: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  background-clip: padding-box;
}

#line::after {
  position: absolute;
  top: -15px; bottom: -15px;
  left: -15px; right: -15px;
  background: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  content: '';
  z-index: -1;
  border-radius: 15px;
}

.btn {
  font-weight: 300;
  padding: 12px 30px;
  border: none;
}

.list-group-item {
  background-color: transparent;
  border-color: #fee140;
  font-weight: 300;
  font-size: 1.25rem;
  color: #fee140;
}

a {
  color: #fee140;
}

a:hover {
  text-decoration: none;
  color: #e57b98;
}


