html {
  height: 100%;
}

body {
  font-family: "Roboto Mono";
  background-color: #5263aa;
  color: white;
}

#heading {
  text-align: left;
  font-size: 1.5rem;
  display: inline-block;
  font-family: "Nunito";
  letter-spacing: 0.7rem;
  text-transform: uppercase;
  width: 100%;
  color: #fee140;
}

h2 {
  font-size: 1rem;
  font-weight: 300;
  color: white;
  text-align: left;
  display: inline-block;
  width: 100%;
}

h3 {
  font-size: 1.25rem;
  font-weight: 300;
  color: #e57b98;
}

.big-label {
  font-size: 1rem;
  font-weight: 400;
  color: #fee140;
}

.small-label {
  font-size: 0.8rem;
  font-weight: 400;
  color: white;
}

.btn {
  font-weight: 300;
  border-radius: 25px;
  padding: 12px 30px;
  border: none;
}

.btn-primary {
  background-color: #fee140;
  color: #2c4977;
}

.btn-primary:hover {
  background-color: #e9ce3b;
  color: #2c4977;

}

.list-group-item {
  background-color: transparent;
  border-color: #fee140;
  font-weight: 300;
  font-size: 1.25rem;
  color: #fee140;
}

a {
  color: #fee140;
}

a:hover {
  text-decoration: none;
  color: #e57b98;
}

#top {
  height: 100vh;
}

#simulation {
  width: 100%;
  height: 80vh;
  position: relative;

}

#options {
  border: solid 1px #fee140;
  border-radius: 10px;
  background-color: #7182c7;
  position: absolute;
  top: 50px;
  right: 50px;
  width: 400px;
}

#controls {
  position: absolute;
  top: 50px;
  left: 50px;
}



