html {
  height: 100%;
}

body {
  padding: 3rem 9rem;
}

.input-matrix {
  height: 35px;
  width: 35px;
  text-align: center;
  padding: 0;
  margin: 2px;
  display: inline;

}

.input-matrix::-webkit-outer-spin-button,
.input-matrix::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.input-container {
  border: solid 1px #ced4da;
  border-radius: 0.25rem;
}


