body {
  color: deepskyblue;
  font-weight: 300;
  font-family: "Roboto Mono";
  background-color: #181818;
  margin: 0;
  overflow: hidden;
}

#info {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 1rem;
}